.list_menu__item {
    position: relative;
    cursor: pointer;
    display: flex;
    /* padding: 2.5px 15px;
    margin-bottom: 5px; */
    padding: 5px 15px;
    margin-bottom: 1px;
    align-items: center;
    border-radius: 2px;

    /* font-size: 15px;
    line-height: 16px; */
}
 
.list_menu__item.active,
.list_menu__item:hover {
    background-color: var(--aside_hover);
}

.list_menu__item.active:hover,
.list_menu__item.active:hover .item__group_options,
.list_menu__item:active {
    background-color: var(--aside_active);
}

.item__svg {
    flex: 0 0 18px;
    margin-right: 10px;
}

.item__p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.item__group_options {
    position: absolute;
    display: none;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 20px;
    border-radius: 3px;
    background-color: var(--aside_hover);
}

.list_menu__item:hover .item__group_options {
    display: flex;
}

.options {
    border-radius: 3px;
    cursor: pointer;
    flex: 1 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options:hover {
    background-color: #cecece;
}

.options:active {
    background-color: var(--gray);
}