.board_container {
    /* padding: 10px 0 0; */
    padding: 10px 20px 0;
    display: flex;
    overflow: scroll;
    flex-grow: 1;
}

.board__no_tasks {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}