.task_line__container {
    position: relative;
    padding: 4px;
    display: flex;
    flex-direction: column;
    flex: 0 0 270px;
    height: fit-content;
    /* background-color: var(--pink_main); */
    border-radius: 6px;
}

.task_line__container:not(:last-child) {
    margin-right: 10px;
}

.task_line__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 14px;
    text-align: start;
    /* color: var(--pink_text_light); */
}

.task_line__button:hover {
    background-color: var(--gray_button_hover);
}

.task_line__button:focus {
    outline: 1px solid var(--lightBlue);
}

.task_line__new_group,
.task_line__new_group:hover {
    position: relative;
    height: 40px;
    background: none;
    /* display: flex;
    align-items: center;
    justify-content: left; */
}

.new_group__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    padding: 10px 15px;

    display: flex;
    flex-direction: column;

    color: var(--inactive_text);
    border: 1px solid var(--gray_task_border);
    border-radius: 5px;
    background-color: var(--gray_button_newGroup);
    cursor: pointer;
}

.new_group__title:hover {
    background-color: var(--aside_hover);
}

.new_group__title:active {
    background-color: var(--aside_active);
}