.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 579px) {
    .container {
        flex-direction: column;
        overflow-y: scroll;
    }
}