.header_container {
    /* width: 100%; */
    padding: 10px 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
}

.header_title {
    padding-right: 10px;
    flex: 1 0 200px;
    font-size: 24px;
    line-height: 24px;
}

.button {
    cursor: pointer;
    color: #fff;
    background-color: var(--lightBlue);
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid var(--blueBorder);
}

.button:hover {
    background-color: var(--blue_hover);
}

.button:active {
    background-color: var(--blue_active);
}