.options {
    border-radius: 3px;
    cursor: pointer;
    flex: 1 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options:hover {
    background-color: #cecece;
}

.options:active {
    background-color: var(--gray);
}