.options {
    flex: 1 0 20px;
    border-radius: 3px;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.options:hover {
    background-color: var(--light_gray)
}

.options:active {
    background-color: var(--gray);
}